<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-4" *ngFor=" let user of usersP">
            <div class="card">
                <div class="card-body">
                    <a (click)="pointageKiosque(user.id)">
                        <div class="media align-items-center"><span style="background-image: url(http://localhost:8080/user/files/{{user.photo}})" class="avatar avatar-xl mr-3"></span>
                            <div class="media-body overflow-hidden">
                                <h5 class="card-text mb-0">{{user.username}}</h5>
                                <p class="card-text text-uppercase text-muted">{{user.role.libelle}}</p>
                                <p class="card-text">
                                    <span class="badge badge-success">present</span> <br>{{user.email}}
                                    <br><abbr title="Phone">P:</abbr>{{user.phone}}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4" *ngFor=" let user of usersA">
            <div class="card">
                <div class="card-body">
                    <a (click)="pointageKiosque(user.id)">
                        <div class="media align-items-center"><span style="background-image: url(http://localhost:8080/user/files/{{user.photo}})" class="avatar avatar-xl mr-3"></span>
                            <div class="media-body overflow-hidden">
                                <h5 class="card-text mb-0">{{user.username}}</h5>
                                <p class="card-text text-uppercase text-muted">{{user.role.libelle}}</p>
                                <p class="card-text">
                                    <span class="badge badge-pill badge-danger">absent</span> <br>{{user.email}}
                                    <br><abbr title="Phone">P:</abbr>{{user.numtel}}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
