<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <form (ngSubmit)="onSubmit()">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">

                            <div class="col-8">
                                <h3 class="mb-0">Jour Ferier</h3>
                            </div>
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-primary mt-4" type="submit">Modifier Jour Ferier</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="pl-lg-4">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">

                                                <label class="form-control-label" for="input-username">Nom</label>
                                                <input type="text" class="form-control form-control-alternative" placeholder="libelle" id="libelle" [(ngModel)]="jourf.libelle" name="libelle">
                                                <label class="form-control-label" for="input-username">Date Debut</label>
                                                <input type="date" class="form-control form-control-alternative" placeholder="datedeb" id="frais" [(ngModel)]="jourf.datedeb" name="datedeb">
                                                <label class="form-control-label" for="input-username">Date Fin</label>
                                                <input type="date" class="form-control form-control-alternative" placeholder="nbJour" id="DaysMonths" [(ngModel)]="jourf.datefin" name="nbJour">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
