<div class="container-fluid mt--7">
    <div class="row">

        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">

                <!-- formulaire -->
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Compte Admin</h3>
                            </div>
                            <div class="col-4 text-right">
                                <button type="submit" class="btn btn-info">Créer Admin</button>

                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <h6 class="heading-small text-muted mb-4">Information utilisateur</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Pseudo </label>
                                        <input type="email" id="email" class="form-control form-control-alternative" placeholder="Pseudo" [(ngModel)]="user.username" name="username">
                                        <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'username')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                            pseudo Oblgatoire
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label class="form-control-label" for="input-email">Email</label>
                                        <input type="E" id="email" class="form-control form-control-alternative" placeholder="Email" [(ngModel)]="user.email" name="email">
                                        <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'email')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                            Email Oblgatoire
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label class="form-control-label" for="input-first-name">Prénom</label>
                                        <input type="text" id="firstName" class="form-control form-control-alternative" placeholder="Prénom" value="" [(ngModel)]="user.firstName" name="firstName">
                                        <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'firstName')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                            Prénom Oblgatoire
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label class="form-control-label" for="input-last-name">Nom</label>
                                        <input type="text" id="lastName" class="form-control form-control-alternative" placeholder="Nom" value="" [(ngModel)]="user.lastName" name="lastName">
                                        <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'lastName')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                            Nom Oblgatoire
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Address</label>
                                        <input id="address" class="form-control form-control-alternative" placeholder="Home Address" value="" type="text" [(ngModel)]="user.adresse" name="adresse">
                                        <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'adresse')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                            Address Oblgatoire
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="heading-small text-muted mb-4">heure_deb/heur_fin.. </h6>
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Heure Debut</label>
                                        <input type="time" id="input-country" class="form-control form-control-alternative" placeholder="Country" value=" " [(ngModel)]="user.heure_deb" name="heure_deb">
                                        <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'heure_deb')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                            Heure Debut Oblgatoire
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Heure Fin</label>
                                        <input type="time" id="input-postal-code" class="form-control form-control-alternative" placeholder=" " [(ngModel)]="user.heure_fin" name="heure_fin">
                                        <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'heure_fin')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                            Heure Fin Oblgatoire
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">Mot de passe utilisateur </h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label>Code Pin pour Mode Kiosque</label>
                                <input id="input-address" class="form-control form-control-alternative" placeholder="Code Pin" value="" type="password" [(ngModel)]="user.pinCode" name="pinCode">
                                <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'pinCode')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                    Code Pin Oblgatoire
                                </div>
                            </div>
                        </div>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label>Mot de passe</label>
                                <input id="input-address" class="form-control form-control-alternative" placeholder="Mot de passe" value="" type="password" [(ngModel)]="user.password" name="password">
                                <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'password')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                    Mot de passe Oblgatoire
                                </div>
                            </div>
                        </div>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label>confirmer mot de passe</label>
                                <input id="input-address" class="form-control form-control-alternative" placeholder="confirmer Mot de passe" value="" type="password" name="password">
                                <div style="color:rgb(0, 0, 0); " *ngIf="formGroup.get( 'password')?.hasError( 'required') && submitted " class="alert alert-danger ">
                                    confirmer Mot de passe Oblgatoire
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" (change)="handleFileInput($event)" [(ngModel)]="user.photo" name="photo">
                                        <label class="custom-file-label">Image</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>