<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>

<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4">

                <div class="text-center">
                    <br>
                    <br>
                    <img src="http://localhost:8080/user/files/{{y}}" width="100" class="rounded-circle">
                </div>

                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0">{{name}}</h5>
                    <span>{{name}}</span>

                    <div class="px-4 mt-1">



                    </div>

                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>

                    <div class="buttons">
                        <button (click)="enableDisableRule('icon')" [ngClass]="{'#f56036' : toggle, '#f5385a': !toggle}" class="buhtton btn  button3 signinbutton" style="font-size:100px ;width :200px; height:160px"><i class="fas fa-sign-in-alt" [ngClass]="toggle ? 'fa-sign-in-alt' : 'fa-sign-out-alt'" ></i></button>
                        <h5>{{status}}</h5>
                    </div>
                    <br>


                    <strong>  <div>{{ time | date: 'HH:mm:ss' }}</div></strong>


                </div>




            </div>

        </div>

    </div>

</div>